<%= form_for @bulletin do |f| %>
  <%= f.hidden_field :key %>
  <div class="well">
  	<%= f.label :name %>
  	<%= f.text_field :name %>
  <%= f.submit "Save", class: "btn btn-large btn-primary" %>
  </div>
<% end %>