<div class="row">
  <aside class="span4">
    <section>
  	  <%= render 'shared/user_info' %>
  	</section>
    <section>
      <%= render 'shared/news_post_form' %>
    </section>
    <section>
      <%= render 'shared/bulletin_form' %>
    </section>
  </aside>
  <div class="span8">
    <% if NewsPost.any? %>
      <h3>Latest News</h3>
      <ol class="news_posts">
        <%= render @news_posts %>
      </ol>
      <%= will_paginate @news_posts %>
    <% end %>
  </div>
  <div class="span8">
    <%= render @bulletin %>
  </div>
</div>